.about {
  padding-top: 32px;

  background-image: linear-gradient(white, darkcyan);
}
.about__header {
  text-align: center;
  font-size: 64px;
  text-decoration: underline;
}
.about__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about__image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin-right: 80px;
}

.about__text-container {
  width: 400px;
  border-top: 8px solid yellow;
  border-bottom: 8px solid yellow;
}

.about__info {
  text-indent: 24px;
  font-size: 24px;
  line-height: 36px;
}

@media screen and (max-width: 627px) {
  .about {
    padding-top: 20px;
  }
  .about__header {
    font-size: 20px;
  }
  .about__container {
    flex-direction: column;
  }
  .about__image {
    height: 288px;
    width: 288px;
    margin: 0 0 12px;
  }
  .about__text-container {
    width: 288px;
    border-width: 4px;
  }

  .about__info {
    text-indent: 16px;
    font-size: 16px;
    line-height: 17.4px;
  }
}
