.registration {
  width: 100%;
  padding: 12px 0 20px;
  background-image: linear-gradient(darkcyan, orangered);
}

.registration__header {
  text-align: center;
  font-size: 64px;
  text-decoration: underline;
}

.registration__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.registration__signup {
  width: 550px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration__signup-header {
  text-align: center;
  font-size: 24px;
  color: white;
}

.registration__signup-info {
  margin: 20px auto;
  width: 400px;
  font-size: 20px;
  text-indent: 20px;
}

.registration__btn {
  width: 240px;
  background-color: yellow;
  color: darkcyan;
  padding: 12px 8px;
  margin-top: 32px;
  font-size: 20px;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .registration__header {
    font-size: 20px;
  }
  .registration__container {
    flex-direction: column;
    width: 288px;
  }
  .registration__signup {
    width: 288px;
  }
  .registration__signup-info {
    width: 288px;
  }
}
